parameters:
	level: 2
	polluteScopeWithLoopInitialAssignments: false
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkFunctionNameCase: true
	inferPrivatePropertyTypeFromConstructor: true
	reportUnmatchedIgnoredErrors: false

rules:
	- PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
	- Skrz\PHPStan\DisallowedEmptyRule

